.main {
  position: absolute;
  left: 40%;
}

table {
  position: relative;
  border: 3px solid black;
  border-collapse: collapse;
}
td {
  padding: 8 8 8 8;
  height: 35px;
  width: 15px;
  text-align: center;
}

td,
tr {
  border: 1px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:nth-child(3n) {
  border-bottom: 3px solid black;
}

.main2 {
  text-align: center;
}

input {
  height: 35px;
  width: 35px;
  margin: 10 10 10 10;
  text-align: center;
}

h2 {
  text-align: center;
}

.onfocused {
  background-color: rgb(184, 203, 255);
  color: black;
}

span {
  color: rgb(87, 87, 87);
  position: absolute;
  bottom: 5px;
}
